<a href="https://colab.research.google.com/github/IlyaGolovin/HelloPython/blob/master/basic01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create 10 last names variables

In [2]:
last_name = "Golovin"
lastName = "May"
LastName = "Roberto"
LASTNAME ="Heroes"

In [4]:
print(last_name)
print(lastName)
print(LASTNAME)
print(LastName)

Golovin
May
Heroes
Roberto

Create 10 list

In [8]:
import math

In [7]:
list1 =["Hello","nice", "person"]
list2 = [ "Mango", "Bread", "Milk"]
list3 =[ "Lexus","Toyota", "BMW"]

num1 = 12
num2= 13
num3 = 14

num1 = 1.2
num2= 1.3
num3 = 1.4

type(list1)

print(list3)

[' Lexus', 'Toyota', 'BMW']

In [9]:
math.pi

3.141592653589793

In [11]:
Sunny_day = True 
type(Sunny_day)

bool

Dictionary

In [18]:
myDict = {'key':'milk', 
          'key1':'carrots',
          'key2':'eggs',
          'key3': 'orange',
          'key4': 'cucamber'}

myDictNames = {'key':'John',
               'key1':'Sara',
               'key3':'Nio',
               'key4':'Peter',
               'key5': 'Natasha',
               'key6': 'Luka'
                }     
myDictSportsPlayes = {
    'key': 'tennis',
    'key1': 'football',
    'key2': 'box',
    'key3': 'swimming'
}
print(myDict)
print(myDictNames)
print(myDictSportsPlayes)

{'key': 'milk', 'key1': 'carrots', 'key2': 'eggs', 'key3': 'orange', 'key4': 'cucamber'}
{'key': 'John', 'key1': 'Sara', 'key3': 'Nio', 'key4': 'Peter', 'key5': 'Natasha', 'key6': 'Luka'}
{'key': 'tennis', 'key1': 'football', 'key2': 'box', 'key3': 'swimming'}